body {
    background-color: #1F3138;

}

.methodology p {
    margin-bottom: 0.5rem;
    line-height: 1.3em;
}

.btn-light:hover {
    background-color: #57747E;
    color: #EBEBE8;
}

.btn-light:not(:disabled):not(.disabled).active {
    background-color: #57747E;
    color: #EBEBE8;
}

.analysis-buttons .btn-light:hover {
    background-color: #57747E;
    color: #EBEBE8;
}

.analysis-buttons .btn-light {
    background-color: #EBEBE8;
    color: #121212;
    padding: 10px 30px;
    margin: 10px 30px 10px 0;
}

.analysis-buttons>a>.btn-light {
    width: 210px;
}

.spacer {
    height: 8vh;
}

.last-updated {
    font-style: italic;
    font-size: 0.8em
}

.carousel-margin {
    padding: 0 15%;
}

.carousel-margin p {
    margin: 0;
}

.annotation {
    font-size: 0.9em;
}

.mail-count-rules-mobile,
.swing-states-outlines-mobile,
.house-flips-mobile,
.house-uncalled-mobile {
    display: none;
}

.senate-stacked {
    position: relative;
    top: -15x;
}

.house-stacked {
    position: relative;
    top: -15x;
}

@media (max-width: 767px) {

    .mail-count-rules,
    .swing-states-outlines,
    .house-flips,
    .house-uncalled {
        display: none
    }

    .mail-count-rules-mobile,
    .swing-states-outlines-mobile,
    .house-flips-mobile,
    .house-uncalled-mobile {
        display: block;
        width: 100vw;
        padding: 0;
    }
}