body {
    margin: 0 7vw;
    background-color: #1F3138;
    color: #EBEBE8;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
    line-height: 1.5em;
}

hr {
    border-top: 0.5px solid #EBEBE8;
}


h1 {
    margin: 10vh 0 2vh;
}


.method-button {
    margin: 20px 0;
}


.jump-buttons .btn-light,
.link-buttons .btn-light {
    background-color: #EBEBE8;
    color: #121212;
    padding: 10px 30px;
    margin: 10px 30px 10px 0;
}


.link-buttons {
    width: fit-content;
}


.btn-light {
    background-color: #ebebeb;
    color: #121212;
}

.btn-light:hover {
    background-color: #57747E;
    color: #EBEBE8;
}

.btn-light a {
    color: #121212;
}

.btn-light a:hover {
    text-decoraton: none;
    color: #EBEBE8;
}

.btn-light:not(:disabled):not(.disabled).active {
    background-color: #57747E;
    color: #EBEBE8;
}

.presidency-legend {
    margin-top: 40px;
}

.legend-box {
    margin: 5px 10px 15px;
}

.legend-label {
    margin: 5px 10px;
    text-align: center;
}

.sen-tooltip {
    position: absolute;
    top: 55px;
    left: 0;
    text-align: left;
    width: 190px;
    height: 45px;
    padding: 5px;
}