body {
    margin: 0 7vw;
    background-color: #1F3138;
    color: #EBEBE8;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
    line-height: 1.5em;
}


h1 {
    margin: 10vh 0 2vh;
}

.btn-light {
    background-color: #EBEBE8;
    color: #121212;
    padding: 10px 30px;
    margin: 10px 30px 10px 0;
}

.jump-buttons .btn {}